.wtm-program-item {
    margin-bottom: 20px !important;
}

.wtm-program-hour {
    font-size: 4em;
    text-align: right;
    padding-right: 20px;

    @include respond( phones ) {
        font-size: 1.8em;
        text-align: left;
    }

    @include respond( tablets ) {
        font-size: 3em;
    }
}

.wtm-program-title {
    font-size: 1.6em;
    padding-top: 33px !important;
    max-width: 85%;

    @include respond( phones ) {
        font-size: 1.3em;
        padding-top: 5px !important;
    }

    @include respond( tablets ) {
        padding-top: 17px !important;
    }

    & .wtm-badge {
      position: relative;
      top: -3px;
      font-size: 16px;
      padding: 4px 8px;
      line-height: 16px;
      border-radius: 3px;
      white-space: nowrap;

      @include respond( phones ) {
          font-size: 0.7em;
      }
    }
}

.wtm-program-speaker {
    margin-bottom: 15px;

    @include respond( phones ) {
        margin-bottom: 25px;
    }
}

.wtm-program-speaker-info {
    width: 100%;

    @include respond( desktop ) {
        margin-left: 10px;
    }

    @include respond( tablets ) {
        margin-left: 25px;
    }
}

.wtm-program-speaker-image {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.wtm-program-speaker-name {
    font-size: 1.2em !important;
    margin-bottom: 2px !important;
    margin-top: 3px !important;
}

.wtm-program-location-icon {
    font-size: 2em;
}

.wtm-program-location-text {
    font-size: 1.2em;
    margin-left: 1%;

    @include respond( phones ) {
        font-size: 1em;
    }
}

.wtm-program-break-container {
    padding: 20px;
    margin-bottom: 25px;
}

.wtm-program-break-title {
    font-size: 4em;
    margin-bottom: 10px;

    @include respond( phones ) {
        font-size: 1.3em;
        padding-top: 6px !important;
    }

    @include respond( tablets ) {
        font-size: 3em;
    }
}
