.wtm-section {
    padding: 0 0 50px 0;
}

.wtm-section-title {
    padding: 150px 0 120px 0;
    font-weight: 300;
    margin-bottom: 20px;
}

.wtm-container {
    margin-top: -120px;
}

.wtm-row {
    margin-bottom: 0px;
}

.wtm-map {
    height: 600px;

    @include respond( phones ) {
        height: 400px;
    }
}
